{% extends 'base.html' %}
{% block content %}
{{ block.super}}
{% load bootstrap4%}

<div class="container-fluid">

    <!-- <div class="jumbotron">
        <h2 class = "text-center">NeighbourHood HomeLand</h2>
       
      </div> -->
  <div class="three">

  </div>
  <button id="button_h" type="button" class="btn btn-outline-secondary"><a href="/post">Make Post</a></button>
  <div class="pot">
    <div class="row">
      <div class="col-md-1">

      </div>
      <div class="col-md-6">
        <br>
        <h4>Activites happening this week</h4>
        {% for chu in activ %}

        <img class="d-block -200 img-fluid" src="{{chu.path.url}}" alt="{{user.username}}" height="750px">
        <div class="card-body">
          <p class="card-text">{{chu.name}}</p>
        </div>
        <div class="card-footer text-muted">

        </div>
        <ul class="list-group list-group-flush">

        </ul>
        {% endfor %}
      </div>


      <div class="col-md-5">
        <br>
        <h3>Businesses arround you</h3>
        {% for you in biz %}

        <img class="d-block -20 img fluid" src="{{you.image_path.url}}" alt="{{user.username}}" height="50px">
        <div class="card-body">
          <p class="card_text">{{you.path.url}}</p>
        </div>
        <div class="card-footer text-muted">

          </div>
          <ul class="list-group list-group-flush">

          </ul>
          {% endfor %}
      </div>
        <!-- <li>{{you.business_name}}</li> -->
        
        <!-- <p>{{you.path.url}}</p> -->

        
      </div>
    </div>
  </div>

{% endblock %}