{% extends 'base.html' %}
{% block content %}
{{ block.super}}
{% load bootstrap4%}

<div class="container-fluid">
  <div class="three">

  </div>
  <button id="button_h" type="button" class="btn btn-outline-secondary"><a href="/post">Make Post</a></button>
  <div class="pot">
    <div class="row">
      <div class="col-md-1">

      </div>
      <div class="col-md-6">
        <br>
        <h4>Activites happening this week</h4>
        {% for chu in post %}

        <img class="card-img-top" src="{{x.image_path.url}}" alt="{{user.username}}">
        <div class="card-body">
          <p class="card-text">{{chu.image_description}}</p>
        </div>
        <div class="card-footer text-muted">

        </div>
        <ul class="list-group list-group-flush">

        </ul>
        {% endfor %}
      </div>
      <div class="col-md-5">
        <h3>Businesses arround you</h3>
        {% for you in biz %}
        <li>{{you.business_name}}</li>
        <img class="card-img-top"src="{{you.image_path.url}}" alt="{{user.username}}">
        <p>{{you.image_path.url}}</p>
        {% endfor %}
      </div>
    </div>
  </div>

</div>
{% endblock %}