{% extends 'base.html' %}
{% block content %}
{{ block.super}}
{% load bootstrap4%}
<div class="container">
  <div class="row">
    <div class="col-md-5" style="height: 700px; background-image: url('https://previews.123rf.com/images/dinozzaver/dinozzaver1611/dinozzaver161100850/66302151-residential-neighborhood-buildings-in-guilin-and-famous-karst-mountain-landscape-in-the-background-c.jpg');">
      <h2>Welcome NeighbourHood</h2>
    </div>
    <div class="col-md-9" style="margin-left: 500px;margin-top: -800px;">
    <div class="all" >
    
        {% if user.is_authenticated %}
        <h6>Sign in to your hood</h6>
  
        {% for x in hood %}
  
        <div class="hood">
          <a href="{% url 'home' x.id %}">
            <li>{{x.hood_name}}</li>
          </a>
        </div>
  
        {% endfor %}
        <br>
        <h6>Not Yet registered to a Hood? signup here</h6>
        <div class="hd">
          <a href="{% url 'hood'%}">Register Hood</a>
        </div>
        {% else %}
  
        <div class="see">
          <p>Please <a href="/register">SIGNUP </a> to enjoy your NEIGHBOURHOOD</p>
          <br>
          <p>Already have an account <a href="/account/login">LOGIN</a> here</p>
        </div>
  
        {% endif %}
  
    </div>
</div>
</div>
 <div>
 </div>
{% endblock %}