

{% extends 'base.html' %}
{% block content %}
{{ block.super}}
{% load bootstrap4%}

<div class="container">
  <button id="button_h" type="button" class="btn btn-outline-secondary"><a href="/edit/">Edit Profile</a></button>

  <div class="row" style='margin-left: 500px'>
    <h1>Profile Info</h1>
  {% for all in profile%}
  {%if all.profile_photo%}
  <img src="{{all.profile_photo.url}}" alt="avatar" class="rounded-circle" style='height:300px; width:300px; margin-right: 700px;'>
  <h4 id="p_hhh">{{user}}</h4> <br>
  <h4>{{all.contacts}}</h4>
  <p>{{all.profile_photo.url}}</p>
  <h4>{{all.bio}}</h4>
  {%endif%}
  {% endfor %}
  
</div>
</div>
{%endblock%}

